<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="100px"
    fxLayoutGap.xs="0">
    <div fxFlex="50" *ngIf="dish">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{BaseURL+dish.image}}" alt={{dish.name}}>
                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetail', prev]">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    <span class="flex-spacer"></span>
                    <button mat-button [routerLink]="['/dishdetail', next]">
                        <span class="fa fa-chevron-right fa-lg"></span>
                    </button>
                </mat-card-actions>
            </mat-card>
    </div>
    <div fxFlex [hidden]="dish || errMess" align="center">
        <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait!</h4>
    </div>
    <div fxFlex *ngIf="errMess" align="center" style="color:red;">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
    </div>
    <div fxFlex="50" *ngIf="dish">
        <mat-list> 
            <h3>Comments</h3>
                <mat-list-item *ngFor="let item of dish.comments">
                    <h4 matLine> {{item.comment}} </h4>
                    <p matLine> {{item.rating}} Stars </p>
                    <p matLine> 
                        <span> -- {{item.author}} {{item.date | date}} </span>
                    </p>
                </mat-list-item>
        </mat-list>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p><mat-form-field class="full-width">
                <input matInput formControlName="author" placeholder="Name" type="text">
                <mat-error *ngIf="formErrors.name">
                    {{ formErrors.name }}
                </mat-error>
            </mat-form-field></p>
            <p><mat-slider formControlName="rating" tickInterval="1" min="1" max="5" step="1"></mat-slider></p>
            <p><mat-form-field class="full-width">
                <textarea matInput formControlName="comment" placeholder="Your Comment" rows=20></textarea>
                <mat-error *ngIf="formErrors.comment">
                    {{ formErrors.comment }}
                </mat-error>
            </mat-form-field></p>
            <button type="submit" mat-button class="background-primary text-floral-white"
            [disabled]="feedbackForm.invalid">Submit</button>
      </form>
  
    </div>

        
   
